include config.jade

doctype
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(charset='UTF-8')
    block title
    
    link(rel='stylesheet', href='assets/libs/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='assets/libs/bootstrap-select/dist/css/bootstrap-select.css')
    link(rel='stylesheet', href='assets/libs/highlightjs/styles/default.css')
    link(rel='stylesheet', href='assets/css/style.css')

    - if(iconFont.cssExtraName) {
      link(rel='stylesheet', href='assets/css/#{iconFont.cssExtraName}.css')
    - }
    link(rel='stylesheet', href='assets/css/#{iconFont.cssName}.css')
    link(rel='stylesheet', href='assets/css/helper.css')

  body
    
    block header

    block showcase
    
    block hero
     
    block content

    block download

    block footer


    script.
        var peLoader=function(){var e=function(e){config={loader:"#loading",removeTime:700};for(var o in e)e.hasOwnProperty(o)&&(config[o]=e[o]);var n,i=document.querySelector(config.loader),t=function(e){e.classList.add("loaded"),setTimeout(function(){document.body.removeChild(e)},config.removeTime)},r=function(){n=setTimeout(t(i),2e3)};i&&(window.addEventListener("load",r),i.addEventListener("click",function(){clearTimeout(n),t(i)}))};return{init:e}}();
        peLoader.init();
        
    // Livereload Script -- remove on production
    script.
      document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')
    // Libs scripts
    script(type='text/javascript', src='assets/libs/jquery/dist/jquery.js')
    script(type='text/javascript', src='assets/libs/bootstrap/dist/js/bootstrap.js')
    script(type='text/javascript', src='assets/libs/bootstrap-select/dist/js/bootstrap-select.js')
    script(type='text/javascript', src='assets/libs/highlightjs/highlight.pack.js')
    script(type='text/javascript', src='assets/js/fontsmoothie.min.js')
    
    block scripts





